vti_encoding:SR|utf8-nl
vti_author:SR|prefect\\user1
vti_modifiedby:SR|prefect\\user1
vti_timelastmodified:TR|08 Apr 2015 18:07:06 -0000
vti_timecreated:TR|06 Apr 2015 20:12:46 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|test.html
vti_nexttolasttimemodified:TW|08 Apr 2015 18:06:36 -0000
vti_cacheddtm:TX|08 Apr 2015 18:04:10 -0000
vti_filesize:IR|1900
vti_cachedlinkinfo:VX|S|../images/fern.png
vti_cachedsvcrellinks:VX|FSUS|images/fern.png
